{% extends 'MusicMBundle::layout.html.twig' %}

{% block title %}Add Song{% endblock%}

{% block body %}
    <header>
        <h1>Upload your own Song</h1>
    </header>

    <form action="{{ path('MusicMBundle_addsong') }}" method="post" {{ form_enctype(form) }} class="blogger">
        {{ form_errors(form) }}

        {{ form_row(form.title) }}
        

        {{ form_rest(form) }}

        <input type="submit" value="Submit" />
    </form>
    <br>
    <p> You can also add a song composed of various tracks. </p>
{% endblock %}