{% extends 'MusicMBundle::layout.html.twig' %}

{% block title %}Add Track{% endblock%}

{% block body %}
    <header>
        <h1>Upload your own track</h1>
    </header>

    <form action="{{ path('MusicMBundle_addtrack') }}" method="post" {{ form_enctype(form) }} class="blogger">
        {{ form_errors(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.instrument) }}
        {{ form_row(form.file) }}

        {{ form_rest(form) }}

        <input type="submit" value="Submit" />
    </form>
    <br>
    <p> You can also add a <a href="{{path('MusicMBundle_addsong') }}">song </a> composed of various tracks. </p>
{% endblock %}